    <app-navbar></app-navbar>
    <div style="width: 400px; margin-top: 25px;" class="container">
    
                <form class="content">
    
                    <h1>My profile</h1>
    
    
                    <div class="row">
    
                        <!-- email  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <label>Email:</label>
                            <input disabled type="text" [(ngModel)] = "email" name='email'  class="form-control">
                        </div>
    
                        <!-- firstname  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <label>First name:</label>
                            <input disabled type="text" [(ngModel)] = "firstName" name='firstName' class="form-control">
                        </div>
    
                        <!-- lastname  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <label>Last name:</label>
                            <input disabled type="text" [(ngModel)] = "lastName" name='lastName'  class="form-control">
                        </div>

                        <!-- role  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <label>Role:</label>
                            <input disabled type="text" [(ngModel)] = "role" name='role' class="form-control">
                        </div>

                         <!-- gbu  -->
                         <div class=" mt-3 col-lg-12 col-12">
                            <label>GBU:</label>
                            <input disabled type="text" [(ngModel)] = "gbu" name='gbu' class="form-control">
                        </div>
                        
    
                         <!-- team  -->
                         <div class=" mt-3 col-lg-12 col-12">
                            <label>Team:</label>
                            <input disabled type="text" [(ngModel)] = "team" name='team' class="form-control">
                        </div>

                        <!-- office income training  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <label>Office income training:</label>
                            <input disabled type="text"  [(ngModel)] = "hasOfficeIncomeTraining" name='hasOfficeIncomeTraining' class="form-control">
                        </div>
    

    
                        <!-- back  -->
                        <div class=" mt-3 col-lg-12 col-12">
                            <button class="btn btn-warning btn-lg btn-block" routerLink="">Back</button>
                        </div>
                    </div>
                </form>
            </div>
