.spacer{
    flex: 1 1 auto;
}

.custom-toolbar {
    background-color: #2596be;
    padding: 0 5px;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0px;
    background: rgb(3,154,217);
    background: linear-gradient(180deg, rgba(3,154,217,1) 53%, rgba(0,212,255,1) 100%);
}

.custom-toolbar > * {
    font-weight: bold;
}