<mat-toolbar class="custom-toolbar">
    <span style="padding: 25px;">
        <mat-icon style="vertical-align: middle;">polymer</mat-icon> MyRegistry
    </span>

    
    <button *ngIf="role !== 'ROLE_ADMIN'" mat-button routerLink="/">
        <mat-icon>dashboard</mat-icon> Dashboard
    </button>
    <button *ngIf="role !== 'ROLE_ADMIN'" mat-button routerLink="/mybookings">
        <mat-icon>view_list</mat-icon> My Bookings
    </button>
    <button *ngIf="role !== 'ROLE_ADMIN'" mat-button routerLink="/bookadesk">
        <mat-icon>create</mat-icon> Book a desk
    </button>
    <button *ngIf="role === 'ROLE_MANAGER'" mat-button routerLink="/teamman">
        <mat-icon>supervisor_account</mat-icon> Manage My Team
    </button>
    <button *ngIf="role !== 'ROLE_ADMIN'" mat-button routerLink="/navbartemplates">
        <mat-icon>bookmark_border</mat-icon> Templates
    </button>
    <button *ngIf="role === 'ROLE_MANAGER'" mat-button routerLink="/bookreq">
        <mat-icon>thumbs_up_down</mat-icon> Booking Requests
    </button>
    <button *ngIf="role === 'ROLE_ADMIN'" routerLink="/administration" mat-button>
        <mat-icon> vpn_key</mat-icon> Administration
    </button>

    <div class="spacer"></div>

    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon><span>{{email}}</span>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/userprofile">My Profile</a>
        <a mat-menu-item routerLink="/logout">Sign out</a>
    </mat-menu>
</mat-toolbar>