/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sumbitbtn{
    background-color: #f5d020;
    background-image: linear-gradient(45deg, #f5d020 0%, #f53803 74%);
    font-weight: bold;
}

