<app-navbar></app-navbar>
<div>
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">

      <li>
        <button class="btn btn-primary" routerLink="/navbartemplates/addtemplate" routerLinkActive="active"
          style="margin-right: 15px;">Add Template</button>
      </li>

      <li>
        <button class="btn btn-primary" routerLink="/navbartemplates/templateslist" routerLinkActive="active">Templates
          List</button>
      </li>

    </ul>

  </nav>

  <div class="container">
    <br>
    <router-outlet></router-outlet>
  </div>

</div>